/*  Only colors differ between day and night. Sizes and positions are included in the common file*/

.day{
	background-color: $day-blue;
	color: $base-text;
	@include day-fade(0, 3s);

	a{
		color: $base-text;
	}

	.city{
		// color: $day-faded-text;
	}

	.wi-cloudy, .wi-rain, .wi-strong-wind{
		color: $day-cloudy;
	}

	.footer{
		border-color: #fff;

		a{
			color: $day-link-color;

			&:hover{
				color: $day-hover-link-color;
			}
		}
	}

}