/*  Only colors differ between day and night. Sizes and positions are included in the common file*/

.night{
	background-color: $nigth-blue;
	color: $base-text;
	@include night-fade(0, 3s);

	a{
		color: $base-text;
	}

	.city{
		color: $night-faded-text;
	}

	.weather-icon{
		div, img{
			color: $base-text;
		}
	}

	.temp{
		.selected{
			color: #6bc3e8;
		}
	}
	.wi-cloudy, .wi-rain, .wi-strong-wind{
		color: $night-cloudy;
	}

	.footer{

		border-color: #ccc;

		a{
			color: $night-link-color;

			&:hover, &:focus{
				color: $night-hover-link-color;
			}
		}
	}

}