$day-blue : #8FDDF5;
$day-faded-text : #999;
$day-link-color : #666;
$day-hover-link-color : lighten($day-link-color, 20%);
$day-cloudy: #D0E6EF;

$nigth-blue : #1D1D44;
$night-faded-text : #ccc;
$night-link-color : #9FBFDA;
$night-hover-link-color : lighten($night-link-color, 20%);
$night-cloudy: #66CDF3;
$night-clear: #E8DC91;

$base-text : #fff;
$highlighted-text : red;
$sun-yellow: #FFDC00;